body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to right, rgba(247, 69, 223, 0.7), rgba(56, 189, 255, 0.7));
	background-repeat: no-repeat;
	background-position:center center center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*#root{

}*/


